@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --white: rgb(255, 255, 255);
  --verylightgray: rgb(200, 200, 200);
  --lightgray: rgb(170, 170, 170);
  --mediumgray: rgb(61, 61, 61);
  --darkgray: rgb(40, 40, 40);
  --black: rgb(0, 0, 0);
  --red: rgb(250, 0, 0);
}

body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  background-color: var(--white);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ------------------------ My changes ------------------------ */

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.child {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  line-height: 20px;
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

.header {
  background-color: var(--black);
  color: var(--white);
  font-weight: bolder;
  font-size: 50px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 120px;
}

.footer {
  background-color: var(--black);
  font-size: 20px;
  color: var(--white);
  text-align: center;
}

.footer div {
  display: inline-flex;
  align-items: center;
}

.socialMedia nav {
  margin-left: 50px;
}

.socialMediaIcon:hover {
  background-color: transparent;
}

.socialMediaIcon {
  margin: 0 10px;
}

.buttons button {
  font-size: 18px;
  padding: 5px 15px;
  font-weight: 700;
  border-style: outset;
  position: relative;
}

.logo {
  width: 120px;
  margin-right: 50px;
}

.links {
  display: flex;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button:hover {
  background-color: var(--mediumgray);
}

.buttons button:active {
  color: var(--black);
  top: 2px;
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.links button {
  border: none;
  background: none;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--darkgray);
  position: relative;
}

.active button {
  color: var(--black);
}

.links button:hover {
  color: var(--black);
}

.links.active button:focus {
  color: var(--black);
}

.links button:active {
  top: 2px;
}

a.videoName {
  line-height: 25px;
  cursor: pointer;
}

a.videoName:hover {
  background-color: var(--lightgray);
}

.hide {
  display: none;
}

.show {
  display: contents;
}

.buttonDefault {
  text-align: center;
  cursor: help;
}

button {
  cursor: pointer;
}