:root {
  --white: rgb(255, 255, 255);
  --verylightgray: rgb(200, 200, 200);
  --lightgray: rgb(170, 170, 170);
  --mediumgray: rgb(61, 61, 61);
  --darkgray: rgb(40, 40, 40);
  --black: rgb(0, 0, 0);
  --red: rgb(250, 0, 0);
}

.list {
  margin-bottom: 40px;
}

.list li {
  display: flex;
}

.list:hover {
  cursor: pointer;
}

.list-thumbnail {
  height: 170px;
  width: 300px;
}

.list-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0 30px;
}

.list-text>h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.list-channel {
  font-size: 14px;
  color: var(--mediumgray);
  margin: 2px 0;
}

.list-views {
  font-size: 14px;
  color: var(--lightgray);
  margin: 2px 0;
}

.list-avatar {
  height: 30px !important;
  width: 30px !important;
  border-radius: 50%;
}

.list-videos {
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}