:root {
  --primary: black;
  --secondary: red;
  --background: white;
  --lightgray: lightgrey;
  --mediumgray: rgb(205, 205, 205);
  --darkgray: rgb(150, 150, 150);
}

.searchInputs {
  display: flex;
}

.search input {
  background-color: var(--background);
  align-self: center;
  border-radius: 2px;
  font-size: 18px;
  padding: 15px;
  height: 40px;
  width: 700px;
  box-shadow: 0px 0px 16px -6px var(--darkgray);
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 35px;
}

.dataItem p {
  margin-left: 10px;
  color: var(--primary);
  z-index: 100;
}

.dataResult a {
  text-decoration: none;
  z-index: 100;
}

.dataResult a:hover {
  background-color: var(--lightgray);
  color: var(--primary);
  z-index: 100;
}

.searchIcon {
  width: 50px;
  height: auto;
  align-self: center;
  justify-self: center;
}

.dataResult {
  margin-top: 5px;
  width: 700px;
  height: auto;
  background-color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--primary);
  overflow: hidden;
  overflow-y: auto;
  justify-self: left;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}

#closeButton {
  cursor: pointer;
}

.search {
  display: grid;
}
