:root {
  --white: rgb(255, 255, 255);
  --verylightgray: rgb(200, 200, 200);
  --lightgray: rgb(170, 170, 170);
  --mediumgray: rgb(61, 61, 61);
  --darkgray: rgb(40, 40, 40);
  --black: rgb(0, 0, 0);
  --red: rgb(250, 0, 0);
}

.sidebar-row {
  display: flex;
  align-items: center;
  padding: 10px 32px;
}

.sidebar-row-icon {
  color: var(--mediumgray);
  font-size: x-large !important;
}

.sidebar-row-title {
  flex: 1;
  margin-left: 20px;
  font-size: 13px;
}

.sidebar-row:hover {
  background-color: var(--verylightgray);
  cursor: pointer;
}

.sidebar-row:hover>.sidebar-row-icon {
  color: var(--red);
}

.sidebar-row.selected {
  background-color: var(--verylightgray);
}

.sidebar-row.selected>.sidebar-row-icon {
  color: var(--red);
}

@media only screen and (max-width: 415px) {
  .sidebar-row-title {
    display: none;
  }
}